@import url(/src/App.css);



.git_container {
    position: sticky;
    background: url(/Designo/assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-color: var(--Pri-Peach);
    background-position:right;
    background-repeat: no-repeat;
    margin: 0rem auto -5rem auto;

    max-width: min(90%, 1200px);
    color: var(--Pri-White);


    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    justify-items: center;
    gap: 1rem ;

    text-align: center;
    border-radius:1rem;
    padding:4rem clamp(1rem , 3vw + 1rem , 6rem) ;
}


.git_text>h2 {
    font-size: clamp(2rem, 3vw + 1rem, 3rem);
    line-height: 1;
    margin: 1rem 0;
}

.git_container > a {
    align-self: center;
    height: min-content;
}

.git_container >a >button{
    padding: 1.25rem;
}